.restaurant-pic {
	height: 50vh;
	background: url('https://i.ytimg.com/vi/7mphrlxJl5k/maxresdefault.jpg');
	background-size: cover;
	background-position: 0 40%;
}

.restaurant-info {
	height: 50vh;
}

.reservation {
	height: 25vh;
}

/* add a deli pattern background*/
.reservation-form-container {
	position: relative;
	height: 100%;
	background: url('http://ih1.redbubble.net/image.80745362.8983/flat,800x800,075,t.u4.jpg');
	background-size: cover;
	background-position: center;
}

.reservation-form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.restaurant-locator {
	height: 50vh;
}

  
input:required:focus {
	border: 1px solid red;
	outline: none;
}

[aria-required=true] {
	border: 1px solid red;
	outline: none;
}
[data-required=true]:after {
	border: none;
}

.day {
	text-align: center;
	min-width: 150px;
    padding: 28px;
    margin: 5px;
    min-height: 150px;
    box-shadow: 0 16px 38px -25px rgba(0, 0, 0, 0.05), 0 4px 25px 0px rgba(0, 0, 0, 0.05), 0 8px 10px -5px rgba(0, 0, 0, 0.05);
}

#hours {
	display: flex;
    justify-content: center;
}
